*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Proyecto/app/src/main/java/com/secal/juraid/Credentials.kt
Proyecto/.idea/shelf/Uncommitted_changes_before_Update_at_10_2_2024_9_41_PM_\[Changes\]/shelved.patch
Proyecto/.idea/shelf/Uncommitted_changes_before_Update_at_10_2_2024_9_41_PM__Changes_.xml
Proyecto/.idea/shelf/Uncommitted_changes_before_Update_at_10_7_2024_1_06_AM_\[Changes\]/shelved.patch
Proyecto/.idea/shelf/Uncommitted_changes_before_Update_at_10_7_2024_1_06_AM__Changes_.xml
Proyecto/.idea/shelf/Uncommitted_changes_before_Update_at_10_8_2024_12_43_AM_\[Changes\]/shelved.patch
Proyecto/.idea/shelf/Uncommitted_changes_before_Update_at_10_8_2024_12_43_AM__Changes_.xml
Proyecto/.idea/shelf/Uncommitted_changes_before_Update_at_10_8_2024_6_50_PM_\[Changes\]/shelved.patch
Proyecto/.idea/shelf/Uncommitted_changes_before_Update_at_10_8_2024_6_50_PM__Changes_.xml
